<div class="container">
  <div class="row footer">
    <div class="col-md-2 navigation">
      <p>Navigation</p>
      <ul class="navigation">
        <li><%= link_to 'Home', '/' %></li>
        <li><%= link_to 'Categories', categories_path %></li>
        <li><%= link_to 'Packages', packages_path %></li>
        <li><a href='#'>Blog</a></li>
      </ul>
    </div>
    <div class="col-md-4">
      <p>Suggestions, Help & Contact</p>
      <p>
        You can follow <a href="https://twitter/flask_toolbox">@flask_toolbox</a> on twitter to get the latest news.
        Ping him if you have any questions or suggestions. Also you can raise an issue on
        <a href="https://github.com/lord63/flask_toolbox/issues">github</a> to join in the development of flask_toolbox.
      </p>
    </div>
    <div class="col-md-4">
      <p>Who</p>
      <p>
        The Flask Toolbox is brought to you since 2016 by <a href="https://github.com/lord63">lord63</a>.
        Feel free to contact him if you have something to say via <span>me@lord63.com</span>.
      </p>
    </div>
    <div class="col-md-2">
      <p>Currently, Flask Toolbox has CATEGORY_NUM categories and PACKAGE_NUM packages.
    </div>
  </div>
</div>
