<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Flask Toolbox</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Login</a></li>
        <li><a href="#">Tour</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Bar</li>
            <li><a href="#">blablabla.</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Foo</li>
            <li><a href="#">Another action</a></li>
            <li role="separator" class="divider"></li>
            <li class="dropdown-header">Foo</li>
            <li><a href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
  <div class="row">
    <div id="logo" class="col-md-4">
      <a href='/'><%= image_tag "logo.svg" %>Flask Toolbox</a>
    </div>
    <div class="col-md-offset-4 col-md-4">
      <ul class="navmenu">
        <li><%= link_to 'Categories', categories_path %></li>
        <li><%= link_to 'Packages', packages_path %></li>
        <li><a href="#">Blog</a></li>
      </ul>
    </div>
  </div>
</div>
