<div class="jumbotron">
  <h1>Flask Toolbox  <small>The missing toolbox for flask.</small></h1>
  <p>Flask toolbox has collected many flask extensions, then group them in different
     categories. It also fetch the basic info on the package's github and PyPI, and then
     show them to you. The goal of flask toolbox is to help you find the packages
     you want and make your development with flask feel at ease.
  </p>
</div>
<h2>Why choose flask toolbox?</h2><hr>
<div class="row">
  <div class="col-md-3">
    <h3><i class="fa fa-smile-o"></i> Easy to use</h3>
    <p>Find all the related packages in the same category. Choose the one that suit you most.
    </p>
  </div>
  <div class="col-md-3">
    <h3><i class="fa fa-info"></i> Detailed info</h3>
    <p>Show the package's documentation, souce code, bug tracker, PyPI url.
       What's more, it gives you the key points for the package on github and PyPI.
    </p>
  </div>
  <div class="col-md-3">
    <h3><i class="fa fa-archive"></i> One is all</h3>
    <p>Flask toolbox has collected most of the flask extentions. If you found one is missing,
       please send a pull request on github and add it to flask toolbox!
    </p>
  </div>
  <div class="col-md-3">
    <h3><i class="fa fa-code-fork"></i> Open Source</h3>
    <p>Flask toolbox is opensource on <a href="https://github.com/lord63/flask_toolbox">github</a>.
       Help us improve it!
    </p>
  </div>
</div>

<h2>What does flask toolbox look like?</h2><hr>
<div class="row home-intro">
  <div class="col-md-5">
    <h4>Group related packages into a category.</h4>
    <p>Flask toolbox groups the related packages into the same category. You'll
       have more choices and easily find the packages you want.
    </p>
  </div>
  <div class="col-md-offset-1 col-md-5">
      <img src="http://fakeimg.pl/500x300/" alt="" class="img-rounded">
  </div>
</div>
<div class="row home-intro">
  <div class="col-md-5">
    <img src="http://fakeimg.pl/500x300/" alt="" class="img-rounded">
  </div>
  <div class="col-md-offset-1 col-md-5">
    <h4>Deatailed info for a specific package.</h4>
    <p>Flask toolbox fetchs the basic info on github and PyPI, analyse them and
       then show them to you in a more human friendly way. For example, you can
       know that whether this package is under active development and well maintained
       on github.
    </p>
  </div>
</div>
<div class="row home-intro">
  <div class="col-md-5">
    <h4>Rank the packages in the category.</h4>
    <p>Although there are several packages in a category, but you may still have
       trouble to choose one. Flask toolbox calculates the popularity score for
       you and sort the packages so that you can easily choose one.
    </p>
  </div>
  <div class="col-md-offset-1 col-md-5">
      <img src="http://fakeimg.pl/500x300/" alt="">
  </div>
</div>

<h2>What do people say about flask toolbox?</h2><hr>
<blockquote>
  <p>More than the Awesome-Flask list.</p>
  <footer>Lord63 <cite title="author">Flask toolbox's creator.</cite></footer>
</blockquote>
